body{
  background-color: #F5F5F5;
}

.top{
  display : flex;
  align-items: center;
  justify-content: center;
}

.top h2{
  margin-top : 0px;
}

.view-cart{
  position: absolute;
  left : 1300px;
}
.loader {
  position: absolute;
  left : 800px;
  top : 300px;
  display : none;
}

.loader-show{
  position: absolute;
  left : 800px;
  top : 300px;
  display : block;
}

.cart{
  margin-top : 10px;
  padding : 5px 10px;
  color : white;
  background-color: black;
  border-radius : 10px;
  transition: ease-in-out;
}

.cart:hover{
  background-color: transparent;
  color : black;
}

.cart-button{
  background-color: transparent;
  border : 2px solid black;
  padding : 10px 10px;
  border-radius : 10px;
}

.cart-button:hover{
  background-color: aqua;
}
@media(max-width:640px){
  
  .top h2{
  margin-top : 0px;
  }

  .product-list{
    text-align: center;
    font-size : 14px;
    width : 180px;
  }

  .product{
    margin-left : 45px;
    height : 260px;
    width : 160px;
  }

  .product img{
    height : 100px;
  }

  .view-cart{
    margin-top : 60px;
    position: absolute;
    left : 230px;
  }

  .cart-button{
    
    font-size : 16px;
    padding: 5px 5px;
  }
}

@media (min-width:640px) and (max-width:1200px) 
{
  .product-list{
    font-size : 18px;
    width : 260px;
  }

  .product{
    margin-left : 20px;
    height : 260px;
    width : 200px;
  }

  .product img{
    height : 100px;
  }

  .view-cart{
    margin-top : 40px;
    position: absolute;
    left : 760px;
  }
}

@media (width:1280px) {
  .view-cart{
    margin-top : 40px;
    position: absolute;
    left : 1080px;
  }
}

