body{
  background-color: #F5F5F5;
}

.top{
  display : flex;
  align-items: center;
  justify-content: center;
}

.view-cart{
  position: absolute;
  left : 1300px;
}
.loader {
  position: absolute;
  left : 800px;
  top : 300px;
  display : none;
}

.loader-show{
  position: absolute;
  left : 800px;
  top : 300px;
  display : block;
}

.cart{
  margin-top : 5px;
  padding : 5px 10px;
  color : white;
  background-color: black;
  border-radius : 10px;
  transition: ease-in-out;
}

.cart:hover{
  background-color: transparent;
  color : black;
}

.cart-button{
  background-color: transparent;
  border : 2px solid black;
  padding : 10px 10px;
  border-radius : 10px;
}

.cart-button:hover{
  background-color: aqua;
}
@media(max-width:640px){
  
  .product-list{
    font-size : 16px;
    width : 160px;
  }

  .product{
    margin-left : 40px;
    height : 220px;
    width : 160px;
  }

  .product img{
    height : 100px;
  }
}

@media (min-width:640px) and (max-width:1200px) 
{
  .product-list{
    font-size : 18px;
    width : 260px;
  }

  .product{
    margin-left : 20px;
    height : 220px;
    width : 200px;
  }

  .product img{
    height : 100px;
  }
}

